.developer {
  height: 30px;
}
.calculator {
  display: flex;
  flex-direction: column;
}
.calculation {
  display: flex;
  font-size: 1.2em;
  padding-left: 3px;
  margin: 0 10px;
  min-height: 20px;
}
.result {
  margin: 0 10px;
  font-size: 2em;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3px;
  border: 3px solid gainsboro;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  align-items: center;
  min-width: 300px;
  padding: 10px;
}
.botton2 {
  grid-column: span 2;
  height: 45px;
}
.botton1 {
  grid-column: span 1;
  height: 45px;
}
